<!-- Yotpo Star Rating | category pages > snippets | yotpo category stars.liquid (rendered in card-product.liquid) -->
<a href="{{ product.url }}">
<div class="yotpo bottomLine" data-product-id="{{ product.id }}" style="padding-top:5px"></div></a>
<style>.yotpo .text-m {padding-left: 5px;}</style>
<!-- End of Yotpo -->