.header__icon--menu {
  position: initial;
}

.js menu-drawer > details > summary::before,
.js menu-drawer > details[open]:not(.menu-opening) > summary::before {
  content: '';
  position: absolute;
  cursor: default;
  width: 100%;
  height: calc(100vh - 100%);
  height: calc(
    var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%))
  );
  top: 100%;
  left: 0;
  background: rgba(var(--color-foreground), 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  transition: transform var(--duration-default) ease, visibility var(--duration-default) ease, opacity var(--duration-default) ease;
}

menu-drawer > details[open] > summary::before {
  visibility: visible;
  opacity: 1;
  transition: opacity var(--duration-default) ease,
    visibility var(--duration-default) ease;
}

.no-js .menu-drawer__navigation {
  padding: 0;
}

.no-js .menu-drawer__navigation > ul > li {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.04);
}

.no-js .menu-drawer__submenu ul > li {
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.04);
}

.no-js .menu-drawer__menu-item {
  font-size: 1.6rem;
}

.no-js .menu-drawer__submenu .menu-drawer__menu-item {
  padding: 1.2rem 5.2rem 1.2rem 6rem;
}

.no-js .menu-drawer__submenu .menu-drawer__submenu .menu-drawer__menu-item {
  padding-left: 9rem;
}

.no-js .menu-drawer__menu-item .icon-caret {
  right: 3rem;
}

.no-js .menu-drawer__page {
  width: 100%;
}

.no-js .menu-drawer__close-button,
.no-js .menu-drawer .icon-arrow,
.no-js .menu-drawer__header,
[data-layout="accordion"] .menu-drawer__header {
  display: none;
}


.no-js details[open] > .menu-drawer,
.js details[open].menu-opening > .menu-drawer,
details[open].menu-opening > .menu-drawer__submenu {
  transform: translateX(0);
  visibility: visible;
}

.menu-drawer {
  position: absolute;
  transform: translateX(-100%);
  visibility: hidden;
  z-index: 300;
  left: 0;
  top: 100%;
  width: 100%;
  padding: 0;
  background-color: rgb(var(--color-background));
  overflow-x: hidden;
  filter: drop-shadow(
    var(--drawer-shadow-horizontal-offset)
    var(--drawer-shadow-vertical-offset)
    var(--drawer-shadow-blur-radius)
    rgba(var(--color-shadow), var(--drawer-shadow-opacity))
  );
}

.menu-drawer {
  height: calc(100vh - 100%);
  height: calc(
    var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%))
  );
}

#menu-drawer a {
  color: inherit;
}

[data-tabbed="false"] .menu-drawer__submenu-item {
  padding: 2rem;
}

.menu-drawer__submenu-item {
  text-decoration: none;
  box-sizing: border-box;
}

.menu-drawer__page > li > details > summary .menu-drawer__submenu-item,
.menu-drawer__page > li > a.menu-drawer__submenu-item {
  border-bottom: 0.1rem solid rgba(var(--color-foreground),.2);
  height: 60px;
  flex: none;
}

.menu-drawer__page {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.2);
}

.menu-drawer__submenu-inner details[open] ~ .menu-drawer__submenu-item,
.menu-drawer__submenu-inner details[open] ~ details {
  opacity: 0;
}

.js .menu-drawer__navigation .submenu-open {
  visibility: hidden; /* hide menus from screen readers when hidden by submenu */
}

@media screen and (min-width: 750px) {
  .menu-drawer {
    width: 40rem;
  }

  .no-js .menu-drawer {
    height: auto;
  }
}

.menu-drawer__inner-container {
  position: relative;
  height: 100%;
}

.menu-drawer__navigation-container {
  display: grid;
  grid-template-rows: 1fr auto;
  align-content: space-between;
  overflow-y: auto;
  height: 100%;
}

.menu-drawer__inner-submenu {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.menu-drawer__navigation {
  display: flex;
  flex-direction: column;
}

.js .menu-drawer__menu li {
  margin-bottom: 0.2rem;
}

.js .menu-drawer-tab__title {
  background: rgb(var(--color-base-background-2));
  text-align: center;
  justify-content: center;
}

.no-js .menu-drawer-tab__title {
  font-weight: bold;
}

.menu-drawer-tab__title {
  padding: 0.5rem;
  text-decoration: none;
  flex: 1 1 auto;
  height: var(--mobile-menu-tab-height);
  display: flex;
  align-items: center;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.2);
  border-right: 0.1rem solid rgba(var(--color-foreground), 0.2);
  box-sizing: border-box;
}

.menu-drawer__menu-item--active,
.menu-drawer__menu-item:focus,
.menu-drawer__menu-item:hover {
  color: rgb(var(--color-foreground));
  background-color: rgba(var(--color-foreground), 0.04);
}

.menu-drawer__close-button:focus,
.menu-drawer__close-button:hover {
  background-color: inherit;
}

.menu-drawer__menu-item--active:hover {
  background-color: rgba(var(--color-foreground), 0.08);
}

.js .menu-drawer__menu-item .icon-caret {
  display: none;
}

.menu-drawer__menu-item > .icon-arrow {
  position: absolute;
  right: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.js header-drawer:not([data-layout="accordion"]) .menu-drawer__submenu {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgb(var(--color-background));
  z-index: 1;
  transform: translateX(100%);
  transition: transform var(--duration-default) ease;
}

.js .menu-drawer__page {
  width: 100%;
}

.js .menu-drawer__page {
  position: absolute;
  top: var(--mobile-menu-tab-height);
  bottom: 0;
  left: 0;
  background-color: rgb(var(--color-background));
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100%;
  padding-bottom: 4rem;
  z-index: 3;
}

.menu-drawer__page > .product-card {
  display: none;
}

.js .menu-drawer__submenu .menu-drawer__submenu {
  overflow-y: auto;
}

.menu-drawer__submenu-inner {
  background: rgb(var(--color-base-background-2));;
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
  list-style: none;
}

.menu-drawer__close-button {
  padding: 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  width: 100%;
  height: var(--mobile-menu-tab-height);
  background-color: transparent;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  border: none;
  cursor: pointer;
  height: 60px;
  flex: none;
}

.menu-drawer__header {
  border-bottom: 1px solid var(--color-border);
}

.menu-drawer__submenu-heading {
  padding: 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--mobile-menu-tab-height);
  background-color: transparent;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  border-bottom: 1px solid var(--color-border);
  flex: none;
}

.menu-drawer__close-button .icon-caret {
  height: 0.6rem;
  margin-right: 0.5rem;
  transform: rotate(90deg);
}

.menu-drawer__close-button .icon-arrow {
  transform: rotate(180deg);
  margin-right: 1rem;
}

.menu-drawer__utility-links {
  padding: 2rem;
  background-color: rgba(var(--color-foreground), 0.03);
}

.menu-drawer__account {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 1.2rem;
  margin-left: -1.2rem;
  font-size: 1.4rem;
  color: rgb(var(--color-foreground));
}

.menu-drawer__account .icon-account {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.menu-drawer__account:hover .icon-account {
  transform: scale(1.07);
}

.menu-drawer .list-social {
  justify-content: flex-start;
  margin-left: -1.25rem;
  margin-top: 2rem;
}

.menu-drawer .list-social:empty {
  display: none;
}

.menu-drawer .list-social__link {
  padding: 1.3rem 1.25rem;
}

.js [data-tabbed="true"].menu-drawer__menu {
  display: flex;
}

.menu-drawer__menu .menu-drawer__submenu {
  display: flex;
  flex-direction: column;
}

.menu-drawer-tab {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
}

.menu-drawer-tab .menu-drawer-tab__title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  display: block;
  background: rgb(var(--color-base-accent-2));
  opacity: 0;
}

details[open] > summary .menu-drawer-tab__title::after {
  opacity: 1;
}

details[open] > summary .menu-drawer-tab__title,
summary:focus .menu-drawer-tab__title {
  background: rgb(var(--color-background));
  color: rgb(var(--color-base-accent-2));
}

.menu-drawer__title {
  padding: 1rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.2);
  text-align: center;
  height: var(--mobile-menu-tab-height);
}

.menu-drawer__menu {
  width: 100%;
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.2);
}

.js .menu-drawer__page .menu-drawer__submenu {
  margin-top: calc(var(--mobile-menu-tab-height)* -1);
}

details[open].menu-opening > .menu-drawer__submenu {
  transform: translateX(0);
  visibility: visible;
}

.menu-drawer__submenu-item,
.menu-drawer__page-item,
.menu-drawer__submenu-link {
  padding: 1rem;
}

a.menu-drawer__submenu-link {
  text-decoration: none;
  width: 100%;
}

.js header-drawer:not([data-layout="accordion"]) .menu-drawer__submenu-item .icon-caret,
.js header-drawer:not([data-layout="accordion"]) .menu-drawer__page-item .icon-caret {
  transform: rotate(-90deg);
}

.menu-drawer__submenu .menu-drawer__submenu {
  margin-top: 0;
}

.menu-drawer__header {
  display: flex;
  position: relative;
}
.menu-drawer__close-button {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100px;
  transform: translate(0,-50%);
}

.menu-drawer__footer {
  margin-top: auto;
}
.menu-drawer__footer-menu {
  padding: 1rem;
  background: rgb(var(--color-base-background-2));
  display: flex;
  justify-content: space-between;
}

.menu-drawer .list-menu__item {
  line-height: 1;
  height: var(--mobile-menu-tab-height);
}


details[open] > .menu-drawer,
.js details[open] > .menu-drawer__submenu {
  transition: transform var(--duration-default) ease,
    visibility var(--duration-default) ease;
}

.js header-drawer[data-layout="accordion"] .menu-drawer__submenu {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height .5s ease,opacity .5s ease .1s;
}

header-drawer[data-layout="accordion"] details.menu-opening > .menu-drawer__submenu {
  max-height: 100vh;
  opacity: 1;
}

details[open] > .menu-drawer {
  transition: transform var(--duration-default) ease, visibility var(--duration-default) ease;
}

.js details[open] > .menu-drawer__page {
  opacity: 1;
  visibility: visible;
}

.js details[open].menu-opening > .menu-drawer {
  transform: translateX(0);
  visibility: visible;
}


/*Accordion Nav*/
header-drawer[data-layout="accordion"] details > summary .icon-caret {
  transition: transform 0.5s ease;
}

header-drawer[data-layout="accordion"] .menu-drawer__menu {
  padding-bottom: 100px;
}

header-drawer[data-layout="accordion"] details[open] > summary .icon-caret {
  transform: rotate(-180deg);
}

header-drawer[data-layout="accordion"] .menu-drawer__submenu-inner > li .menu-drawer__submenu-item {
  padding-left: 4rem;
}

header-drawer[data-layout="accordion"] .menu-drawer__submenu-inner .menu-drawer__submenu-inner > li .menu-drawer__submenu-item {
  padding-left: 6rem;
}

header-drawer[data-layout="accordion"] .menu-drawer__submenu-inner .menu-drawer__submenu-inner .menu-drawer__submenu-inner > li .menu-drawer__submenu-item {
  padding-left: 8rem;
}

/*mobile menu upsells*/
.product-card {
  background: rgb(var(--color-background));
  height: auto;
  overflow: hidden;
  margin-top: auto;
  text-decoration: none;
}

.product-card + .product-card {
  margin-top: 1rem;
}

.product-card .product-item-description {
  margin-bottom: 0.5rem;
}

.product-card .product-item-description p {
  margin: 0;
  line-height: 1.2;
}

.product-card .product-item {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  justify-content: space-between;
  max-height: 130px;
  display: flex;
  align-items: center;
  border: 1px solid var(--color-border);
  margin: 1.5rem 1rem;
  max-width: calc(100% - 2rem);
}

.product-card .product-item-title {
  text-decoration: none;
  margin-top: 0;
}

.product-card .product-item__image {
  width: 100px;
  height: 100px;
  min-width: 100px;
  padding: 0;
  margin-top: -5px;
}

.product-card .product-item__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-card .product-item-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
}

.menu-drawer__products {
  margin-top: auto;
  padding-top: 2rem;
}

/*menu drawer country selector*/
#menu-drawer .country__current-country {
  color: var(--color-base-text) !important;
}

#menu-drawer .country-selector__options {
  margin-top: -100%;
  background: rgb(var(--color-base-background-2));;
}

#menu-drawer .country__current-country {
  justify-content: flex-start;
  display: flex;
}

#menu-drawer .country-selector summary .icon-caret {
  right: 0;
}

.country-selector__options {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 100%;
  right: 0;
  width: 100%;
}

.country-selector__options a {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.country-selector__options a:not(:last-child) {
  margin-bottom: .75rem;
}

.menu-drawer [data-country-selector]{
  position: relative;
  bottom: 0;
  width: auto;
  padding: 1rem;
} 

.country-selector {
  height: 100%;
  max-height: 100%;
  cursor: pointer;
  padding: 0;
}

.country-selector__title {
  display: flex;
  flex-direction: row;
  height: 100%;
  max-height: 100%;
  align-items: center;
  cursor: pointer;
  padding: 0;
  justify-content: flex-end;
  margin-right: 3.5rem;
}

#menu-drawer .country-selector__title {
  justify-content: flex-start;
}

.country-selector p { 
  margin: 0; 
  padding-bottom: 1px;
  color: inherit;
}

.country-selector img,
.country-selector__options img  {
  max-width: 25px;
  height: auto;
  margin-right: .75rem;
}

.country-selector svg { 
  margin-left: 1rem;
  max-width: 1.5rem; 
  transition: transform .3s;
}

.country-selector__options {
  max-height: 0;
  overflow: hidden;
  transition: all .3s;
  background: white;
  border: 1px solid var(--color-border);
  visibility: hidden;
  opacity: 0;
  transition: max-height .3s;
  margin-top: 1rem;
}

.country-selector__link {
  text-decoration: none;
}

details[open] > .country-selector__options {
  max-height: 160px;
  visibility: visible;
  opacity: 1;
  padding: 1.5rem;
}

details[open] > .country-selector__title svg {
  transform: rotate(180deg);
}